@model IEnumerable<BookLocations.Models.CSVResult>
@{
    ViewBag.Title = "CSV";
}

<style>
    .itemWrapper div
    {
        border: 1px solid black;
    }

    .itemWrapper
    {
        clear:left;
    }

    .Title{
        font-weight:bold;

    }
    .Author{
    }
    .ErrorMessage
    {
        color:red;
    }
    .Location
    {
        clear:left;
    }

    .locationsWrapper div
    {
        border:none;
    }

</style>

<h2>CSV</h2>


@*@using (Html.BeginForm("CSV", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <h4>Please Upload your CSV.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
}*@

<div>@ViewBag.Message</div>

@using (Html.BeginForm("CSV", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

@if (Model != null)
{
    <table><thead><tr><td>Author</td><td>Title</td><td>Location</td><td>Error Message</td></tr></thead>
        @{
            var uglyListVer = Model.ToList();


            for (int i = 0; i < uglyListVer.Count; i++)
            {
                var item = uglyListVer[i];
                var locationList = item.Locations.ToList();

                if (locationList.Count == 0)
                {
                    <tr><td>@item.Author</td><td>@item.Title</td><td> </td><td>@item.ErrorMessage</td></tr>
                }

                for (int j = 0; j < locationList.Count; j++)
                {
                    <tr><td>@item.Author</td><td>@item.Title</td><td>@locationList[j].name</td><td>@item.ErrorMessage</td></tr>
                }
            }


        }
    </table>
}